<h1>All Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, task_path(task) %>
      <% if task.completed %>
        <span style="color: green">(completed)</span>
      <% end %>
    </li>
  <% end %>
</ul>
